:local(.header) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 75px;
  padding: 0 15px;
  background: lightsteelblue;

  .user {
    display: flex;
    align-items:center;
    justify-content: end;
  }

  img {
    border-radius: 100%;
    height: 32px;
    margin-right: 5px;
  }
}