:local(.article) {
  list-style: none;
  position: relative;
  overflow: hidden;
  
  margin: 10px;
  background: #eee;
  border: 1px solid #aaa;
    
  img {
    width: 150px;
    height: auto;
    float: left;
  }

  .content {
    margin-left: 155px;
    h2 {
      margin-top: 2px;
      margin-bottom: 0px;
    }
  }
  
}