:local(.list) {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 10px;
  transition: box-shadow 300ms ease-out;
  
  > *:hover {
    box-shadow: 1px 2px 2px steelblue;
    transform: translateY(-1px);
  } 
}