:local(.app) {
  display: grid;
  grid-template-rows: 200px 1fr;
  height: 100vh;
  
  main {
    position: relative;
  }

  .notifications {
    position: absolute;
    display: flex;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;
    opacity: .5;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    
    * {
      margin: 5px 10px;
    }
  }
}

